<div>
  <div class="input-mask">
    <p>
      Nutzerdaten:
    </p>
    <form [formGroup]="sicherheitForm">
      <mat-form-field>
        <input matInput
            placeholder="Vorname"
            value=""
            [(ngModel)]="this.vorname"
            formControlName="vorname"
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput
            placeholder="Nachname"
            value=""
            [(ngModel)]="this.nachname"
            formControlName="nachname"
        >
      </mat-form-field><br>
      <mat-form-field>
        <input matInput
            placeholder="Geburtsdatum"
            value=""
            [(ngModel)]="this.geburtsdatum"
            formControlName="geburtsdatum"
            [matDatepicker]="geburtsdatumPicker"
        >
        <mat-datepicker #geburtsdatumPicker>
        </mat-datepicker>

        <mat-datepicker-toggle matSuffix [for]="geburtsdatumPicker"></mat-datepicker-toggle>
      </mat-form-field>
      <br><br>
      <mat-checkbox
        formControlName="useCurrentDate"
      >
        Für aktuelles Datum eintragen
      </mat-checkbox>
      <div *ngIf="!sicherheitControls.useCurrentDate.value" class="einweisungsdatumPicker">
        <mat-form-field >
          <input matInput
              placeholder="Datum der Belehrung"
              value=""
              formControlName="selectedDate"
              [matDatepicker]="einweisungsdatumPicker"
              required
          >
          <mat-datepicker #einweisungsdatumPicker>
          </mat-datepicker>

          <mat-datepicker-toggle matSuffix [for]="einweisungsdatumPicker"></mat-datepicker-toggle>
        </mat-form-field>
      </div>
    </form>
    <br><br>


    <button mat-raised-button color="accent" (click)="checkExistance()">
      Sicherheitsbelehrung eintragen
    </button>
  </div>

</div>
