$TTL 1D
@ IN  SOA {{ item.domain }}. ns.{{ item.domain }}. (
      {{ '%Y%m%d' | strftime }}{{ bind9count }}   ; Serial
      28800   ; Refresh
      7200    ; Retry
      2419200 ; Expire
      10800 )   ;TTL Negative Cache
@ IN  NS  {{ item.domain }}.
@ IN  A   {{ item.target_ip }}
