<IfModule mod_ssl.c>
	<VirtualHost _default_:443>
		ServerAdmin webmaster@localhost

		DocumentRoot /var/www/html

        SSLEngine on

        SSLCertificateFile /etc/ssl/login-rep.fablab-luebeck.de/cert.pem
        SSLCertificateKeyFile /etc/ssl/login-rep.fablab-luebeck.de/privkey.pem
    </VirtualHost>
</IfModule>