table {
  width:100%;
}

.mat-column-DN {
  width:100px;
}

.new_user {
  margin-top:50px;
  text-align:center;
  margin-left:auto;
  margin-right: auto;
}

.new_user .mdc-button {
  margin-left:20px;
  margin-right:20px;
  width:500px;
}
