.input-mask .mat-mdc-progress-spinner {
  margin-left: 15px;
  display: inline;
}

.hint {
  font-size: 10px;
  font-style: italic;
}

.hint_error {
  color: #df5a49;
}

#rfid_form_field {
  min-width: 400px;
}
