<div>
  Bitte gib hier deine Fablab-Zugangsdaten ein um eine RFID-Karte zu vergeben:

  <br>
  <div class="input-mask">
    <form [formGroup]="loginForm">
      <login
          [usernameControl]="'username'"
          [passwordControl]="'password'"
          [formGroup]="loginForm"
          (validLogin)="valid=$event"
          >
      </login>
      <br>
      <div *ngIf="valid">
        Nutzerdaten:
        <br>
        <user-search
          [usernameControl]="'username'"
          [passwordControl]="'password'"
          [eingewiesenerControl]="'eingewiesener'"
          [formGroup]="loginForm"
          (userSelected)="prefillRFID($event)"
        >
        </user-search>
        <mat-form-field>
          <input
              matInput
              placeholder="RFID-Tag"
              value=""
              formControlName="rfid"
          >
        </mat-form-field>
        <div class="field_warning" *ngIf="showRfidWarning">
          Vorsicht, beim Ändern wird die alte Karte ungültig gemacht!
        </div>

        <br><br>
        <button mat-raised-button color="accent" (click)="enterRfid()">
          RFID vergeben
        </button>
      </div>
    </form>
  </div>
</div>
