<div>
  <div class="input-mask">
    <form [formGroup]="loginForm">
      <br>
      <div>
        <mat-form-field>
          <input matInput
              placeholder="RFID-Tag"
              value=""
              formControlName="rfid"
              (input)='findUser();'
              #rfidinput
          >
        </mat-form-field>
        <span [class]="searching ? '' : 'hidden'">
          <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
        </span>
        <br>
        <div *ngIf="found_users != null">
          Benutzer mit dieser RFID-Karte:
          <br>
          <div *ngFor="let user of found_users">
            {{user.vorname}} {{user.nachname}} (Benutzer-ID: {{user.uid}})
          </div>
        </div>
        <div
          *ngIf="noUsersFound">
          Kein Nutzer mit diesem RFID-Tag wurde gefunden.
        </div>
      </div>
    </form>
  </div>
</div>
