.link_reset_pw {
  display: block;
  margin-top: -10px;
}

.button_login {
  padding-left: 40px;
  padding-right: 40px;
}

.login-mask .mat-mdc-progress-spinner, .login-mask form {
  margin-left: 15px;
  display: inline;
}

.username-help {
  display: inline;
  margin-left: 10px;
  margin-right: 60px;
}

.username-help i {
  vertical-align: middle;
}

@mixin inputColor($color) {
  color:$color;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-underline {
    background-color:$color;
  }

  ::ng-deep input {
    caret-color:$color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  &.mat-focused ::ng-deep .mat-form-field-ripple {
    background-color:$color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-label {
    color:$color;
  }
}

.mat-mdc-form-field {
  margin-left:15px;
}

.mat-mdc-form-field {
  &.invalid {
    @include inputColor(red);
  }
}

.mat-mdc-form-field {
  &.valid {
    @include inputColor(green);
  }
}

a:visited {
  color:blue;
}
