Bitte gib hier deine Fablab-Zugangsdaten ein um das Einweisungssystem zu verwenden:

<br>
<br>

<div class="login-mask">
  <form [formGroup]="formGroup">
    <mat-form-field [ngClass]="(isEmpty || pending) ? '' : (loginValid ? 'valid' : 'invalid')">
      <input
          matInput
          placeholder="Nutzername"
          value=""
          formControlName="username"
          (keyup.enter)="changed()"
          >
    </mat-form-field>
    <div class="username-help">
      <i class="material-icons" #tooltip="matTooltip" (click)="tooltip.toggle()" matTooltipPosition="above" matTooltip="Beispiel: MaxMueller">
        help_outline
      </i>
    </div>
    <mat-form-field [ngClass]="(isEmpty || pending) ? '' : (loginValid ? 'valid' : 'invalid')">
      <input
          matInput
          placeholder="Passwort"
          type="password"
          value=""
          formControlName="password"
          (keyup.enter)="changed()"
          >
    </mat-form-field>
  </form>
  <span [ngClass]="validating ? '' : 'hidden'" class="spinner_container">
    <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
  </span>
  <div class="link_reset_pw">
    <a href="https://login.fablab-luebeck.de">
      Passwort vergessen?
    </a>
  </div>
  <br>
  <button
        mat-raised-button
        color="primary"
        class="button_login"
        (click)="changed()">
    Einloggen
  </button>
</div>
