Bitte gib hier deine Fablab-Zugangsdaten ein um eine neue Einweisung einzutragen:

<br>
<br>

<div class="login-mask">
  <form [formGroup]="formGroup">
      <mat-form-field [ngClass]="(isEmpty || pending) ? '' : (loginValid ? 'valid' : 'invalid')">
        <input
            matInput
            placeholder="Nutzername"
            value=""
            formControlName="username"
            (input)="changed()"
            >
      </mat-form-field>
      <mat-form-field [ngClass]="(isEmpty || pending) ? '' : (loginValid ? 'valid' : 'invalid')">
        <input
            matInput
            placeholder="Passwort"
            type="password"
            value=""
            formControlName="password"
            (input)="changed()"
            >
      </mat-form-field>
  </form>
  <span [ngClass]="validating ? '' : 'hidden'" class="spinner_container">
    <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
  </span>
  <br>
  <a href="https://login.fablab-luebeck.de">
    Passwort vergessen?
  </a>
</div>
