//@import '@angular/material/theming';
@use '@angular/material' as mat;
@use 'sass:math';
@import "../../fablabTheme";

@mixin mat-icon-button-size($size: 40px, $iconColor:white, $iconBackground:mat.get-color-from-palette($customAccent,500), $iconOffset:0) {
  width: math.div($size * 5, 9);
  height: math.div($size * 5, 9);
  line-height: math.div($size * 5, 9);
  background-color: $iconBackground;

  .mat-icon, .mat-mdc-icon-button i {
    line-height: math.div($size, 2) - $iconOffset;
    color:$iconColor;
  }

  .mat-icon {
    width: math.div($size, 2);
    height: math.div($size, 2);
    margin: 0;
  }

  .material-icons {
    font-size: math.div($size, 2);
  }
}

#dialog-icon {
  @include mat-icon-button-size(60px);
}

#dialog-icon.iconWarning {
  @include mat-icon-button-size(60px, white, #EFC94C, 6);
}

#dialog-icon.iconError {
  @include mat-icon-button-size(60px, red, white, 6);
}

.mat-typography {
  font-size:16px;
}
/*
#dialog-icon {
  display:inline;
  width:40px;
  height:40px;
  font-size:40px;
  position:relative;
  top:10px;
}*/

#dialog-title {
  display:inline;
  margin-left:20px;
}

.mat-mdc-dialog-content {
  margin-top:20px;
}
