//@import '~@angular/material/theming';
@import "../../fablabTheme";

@mixin mat-icon-button-size($size: 40px, $iconColor:white, $iconBackground:mat-color($customAccent,500), $iconOffset:0) {
  width: $size * 5/9;
  height: $size * 5/9;
  line-height: $size * 5/9;
  background-color: $iconBackground;

  .mat-icon, .mat-icon-button i {
    line-height: $size / 2 - $iconOffset;
    color:$iconColor;
  }

  .mat-icon {
    width: $size / 2;
    height: $size / 2;
    margin: 0;
  }

  .material-icons {
    font-size: $size / 2;
  }
}

#dialog-icon {
  @include mat-icon-button-size(60px);
}

#dialog-icon.iconWarning {
  @include mat-icon-button-size(60px, white, #EFC94C, 6);
}

.mat-typography {
  font-size:16px;
}
/*
#dialog-icon {
  display:inline;
  width:40px;
  height:40px;
  font-size:40px;
  position:relative;
  top:10px;
}*/

#dialog-title {
  display:inline;
  margin-left:20px;
}

.mat-dialog-content {
  margin-top:20px;
}
