<button mat-icon-button id="dialog-icon" [ngClass]="icon_class" disabled>
  <mat-icon>
    {{icon}}
  </mat-icon>
</button>
<h2 mat-dialog-title id="dialog-title">{{title}}</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <div *ngIf="!showCustomText">
      Die Anfrage wurde erfolgreich bearbeitet.
    </div>
    <div *ngIf="showCustomText">
      {{customText}}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
