<div [formGroup]="formGroup" class="search-mask">
  <mat-form-field class="userSearchField" [ngClass]="validUser ? 'validUser' : 'invalidUser'">
    <input
        matInput
        placeholder="Name oder ID"
        value=""
        [matAutocomplete]="auto"
        (input)='fetchUsers()'
        formControlName="{{eingewiesenerControl}}"
    >
    <mat-autocomplete #auto="matAutocomplete"
      (optionSelected)="userSelected.emit(getUserByID($event.option.value))"
    >
      <mat-option *ngFor="let user of users" [value]="user.uid">{{user.vorname}} {{user.nachname}} (Benutzer-ID: {{user.uid}})</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <span [class]="searching? '' : 'hidden'">
    <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
  </span>
</div>
