<div [formGroup]="formGroup" class="search-mask">
  <mat-form-field class="userSearchField">
    <input
        matInput
        placeholder="Name oder ID"
        value=""
        [matAutocomplete]="auto"
        (input)='fetchUsers()'
        formControlName="{{eingewiesenerControl}}"

    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let user of users" [value]="user.dn">{{user.vorname}} {{user.nachname}} (Benutzer-ID: {{user.uid}})</mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <span [class]="searching? '' : 'hidden'">
    <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
  </span>
</div>
