.search-mask .mat-mdc-progress-spinner {
  margin-left: 15px;
  display: inline;
}

.userSearchField {
  min-width:600px;
}


.login-mask .mat-mdc-progress-spinner {
  margin-left: 15px;
  display: inline;
}


@mixin inputColor($color) {
  color:$color;
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-underline {
    background-color:$color;
  }

  ::ng-deep input {
    caret-color:$color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  &.mat-focused ::ng-deep .mat-form-field-ripple {
    background-color:$color;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
  ::ng-deep .mat-form-field-label {
    color:$color;
  }
}

.mat-mdc-form-field {
  &.invalidUser {
    @include inputColor(#df5a49);
  }
}

.mat-mdc-form-field {
  &.validUser {
    @include inputColor(green);
  }
}

.highlight {
  color: #df5a49;;
}
