<div>
  <br>
  <h3>
    Neu eingetragene Einweisungen
  </h3>
  <table mat-table [dataSource]="changes.einweisungen" class="mat-elevation-z8">
    <ng-container matColumnDef="geraet">
      <th mat-header-cell *matHeaderCellDef>
        Gerät
      </th>
      <td mat-cell *matCellDef="let einweisung">
        {{ einweisung.geraet.cn }}
      </td>
    </ng-container>

    <ng-container matColumnDef="eingewiesener">
      <th mat-header-cell *matHeaderCellDef>
        Eingewiesener
      </th>
      <td mat-cell *matCellDef="let einweisung">
        {{ einweisung.eingewiesener.uid }} ({{ einweisung.eingewiesener.geburtstag | ldapDate | date:"dd.MM.yyyy" }})
      </td>
    </ng-container>

    <ng-container matColumnDef="einweisungsdatum">
      <th mat-header-cell *matHeaderCellDef>
        Einweisungsdatum
      </th>
      <td mat-cell *matCellDef="let einweisung">
        {{ einweisung.datum | ldapDate | date:"dd.MM.yyyy" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsEinweisungen"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsEinweisungen"></tr>
  </table>
  <br>
  <h3>
    Neue Sicherheitsbelehrungen
  </h3>
  <table mat-table [dataSource]="changes.sicherheitsbelehrungen" class="mat-elevation-z8">
    <ng-container matColumnDef="eingewiesener">
      <th mat-header-cell *matHeaderCellDef>
        Eingewiesener
      </th>
      <td mat-cell *matCellDef="let einweisung">
        {{ einweisung.cn }} {{ einweisung.sn }} ({{ einweisung.geburtstag | ldapDate | date:"dd.MM.yyyy" }})
      </td>
    </ng-container>

    <ng-container matColumnDef="einweisungsdatum">
      <th mat-header-cell *matHeaderCellDef>
        Einweisungsdatum
      </th>
      <td mat-cell *matCellDef="let einweisung">
        {{ einweisung.sicherheitsbelehrung | ldapDate | date:"dd.MM.yyyy" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsSicherheitsbelehrungen"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsSicherheitsbelehrungen"></tr>
  </table>
  <br>
  <p>
    Fehleintragungen bitte an <a href="mailto:it@fablab-luebeck.de">das IT-Team</a> melden
  </p>
</div>
