<div>
  Bitte gib hier deine Fablab-Zugangsdaten ein um eine neue Einweisung einzutragen:

  <br>
  <div class="input-mask">
    <form [formGroup]="loginForm">
      <mat-form-field>
        <input matInput
            placeholder="Nutzername"
            value=""
            (input)='checkLogin()'
            [(ngModel)]="this.username"
            formControlName="username"
        >
      </mat-form-field>
      <mat-form-field>
        <input matInput
            placeholder="Passwort"
            type="password"
            value=""
            (input)='checkLogin()'
            [(ngModel)]="this.password"
            formControlName="password"
        >
      </mat-form-field>
      <span [hidden]="!validating">
        <mat-spinner [diameter]="25" aria-label="test"></mat-spinner>
      </span>
    </form>
  </div>
  <div *ngIf="valid">
    <p>
      Einweisungsdaten:
    </p>
    <div class="input-mask">
      <form [formGroup]="einweisungForm">
        <mat-form-field>
          <input
              matInput
              placeholder="Eingewiesener"
              value=""
              [matAutocomplete]="auto"
              (input)='fetchUsers()'
              [(ngModel)]="this.eingewiesener"
              formControlName="eingewiesener"
          >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of users" [value]="user.uid">{{user.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
          <mat-select
              placeholder="Gerät"
              [(ngModel)]="this.maschine"
              formControlName="maschine"
          >
            <mat-option *ngFor="let maschine of maschinen" [value]="maschine.name">
              {{maschine.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <br>
    <br>

    <button mat-raised-button color="primary" (click)="enterEinweisung()">
      Einweisung eintragen
    </button>
  </div>
</div>
