<div>
  Bitte gib hier deine Fablab-Zugangsdaten ein um eine neue Einweisung einzutragen:

  <br>
  <div class="input-mask">
    <form [formGroup]="loginForm">
      <div>
        <div>
          Einweisungsdaten:
        </div>
        <user-search
          [usernameControl]="'username'"
          [passwordControl]="'password'"
          [eingewiesenerControl]="'eingewiesener'"
          [formGroup]="loginForm"
          (userSelected)="this.userSelected=$event"
        >
        </user-search>

        <mat-form-field>
          <mat-select
              placeholder="Gerät"
              [(ngModel)]="this.maschine"
              formControlName="maschine"
              required
          >
            <mat-option *ngFor="let maschine of maschinen" [value]="maschine.dn">
              {{maschine.cn}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <br>
        <mat-checkbox
          formControlName="useCurrentDate"
        >
          Für aktuelles Datum eintragen
        </mat-checkbox>
        <div *ngIf="!loginControls.useCurrentDate.value" class="einweisungsdatumPicker">
          <mat-form-field >
            <input matInput
                placeholder="Einweisungsdatum"
                value=""
                formControlName="date"
                [matDatepicker]="einweisungsdatumPicker"
                required
            >
            <mat-datepicker #einweisungsdatumPicker>
            </mat-datepicker>

            <mat-datepicker-toggle matSuffix [for]="einweisungsdatumPicker"></mat-datepicker-toggle>
          </mat-form-field>
        </div>
        <br>
        <br>

        <button mat-raised-button color="accent" (click)="enterEinweisung()">
          Einweisung eintragen
        </button>
      </div>
    </form>
  </div>
</div>
