@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$customPrimary : (
    50: #6590aa,
    100: #57849e,
    200: #4e768d,
    300: #45687d,
    400: #3c5b6c,
    500: #334D5C,
    600: #2a3f4c,
    700: #21323b,
    800: #18242b,
    900: #0f161a,
    A100: #759cb3,
    A200: #86a8bc,
    A400: #96b4c5,
    A700: #06080a,
    contrast: (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(black, 0.87),
      A200: white,
      A400: white,
      A700: white,
    )
);

$customAccent : (
    50: #1a443c,
    100: #21564c,
    200: #29685c,
    300: #307b6c,
    400: #378d7d,
    500: #3ea08d,
    600: #54bda8,
    700: #66c4b2,
    800: #79cbbb,
    900: #8bd2c4,
    A100: #54bda8,
    A200: #45B29D,
    A400: #3ea08d,
    A700: #9dd9ce,
    contrast: (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(black, 0.87),
      A200: white,
      A400: white,
      A700: white,
    )
);

$customWarn: (
    50: #f2bcb5,
    100: #eea9a0,
    200: #ea958a,
    300: #e78174,
    400: #e36e5f,
    500: #DF5A49,
    600: #db4633,
    700: #d03825,
    800: #bb3221,
    900: #a52c1d,
    A100: #f6d0cb,
    A200: #fae4e1,
    A400: #fdf7f6,
    A700: #8f2719,
    contrast: (
      50: rgba(black, 0.87),
      100: rgba(black, 0.87),
      200: rgba(black, 0.87),
      300: rgba(black, 0.87),
      400: rgba(black, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(black, 0.87),
      A200: white,
      A400: white,
      A700: white,
    )
);

$candy-app-primary: mat.define-palette($customPrimary);
$candy-app-accent:  mat.define-palette($customAccent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat.define-palette($customWarn);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat.define-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($candy-app-theme);
