/* You can add global styles to this file, and also import other style files */

//@import 'fablabTheme.scss';
//@import "@angular/material/prebuilt-themes/indigo-pink.css";



body {
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0px;
}

html, body {
  height:100%;
}

.input-mask .mat-mdc-form-field {
  margin-right: 20px;
  margin-left: 20px;
}

.input-mask {
  margin-top: 20px;
}

.hidden {
  visibility: hidden;
}

.mat-mdc-card {
  padding: 20px 40px;
}