<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ ) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$) ? 'over' : 'side'"
      >
    <mat-nav-list>
      <h3>
        Einweisungen
      </h3>
      <a mat-list-item href="/sicherheitsbelehrung-eintragen">Sicherheitsbelehrungen eintragen</a>
      <a mat-list-item href="/eigene-einweisungen">Einweisungen einsehen</a>
      <a mat-list-item href="/einweisungen-eintragen">Einweisungen eintragen</a>

      <h3>
        Mitgliedsverwaltung
      </h3>
      <a mat-list-item href="/mitglied-eintragen">Mitglied eintragen</a>
      <h3>
        RFID-Karten
      </h3>
      <a mat-list-item href="/rfid-eintragen">RFID-Karten vergeben</a>
      <a mat-list-item href="/rfid-pruefen">RFID-Karten prüfen</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()"
        id="menubutton"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        Menü
      </button>
      <span id="apptitle">{{this.appComponent.title}}</span>
    </mat-toolbar>
    <mat-card class="page_container">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
