<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
      >
    <button mat-icon-button class="close-menu" (click)="drawer.toggle()">
      <mat-icon aria-label="Closing icon">close</mat-icon>
    </button>
    <!--[attr.role]="(isHandset$ ) ? 'navigation' : 'navigation'"
    [mode]="(isHandset$) ? 'over' : 'side'"-->
    <mat-nav-list>
      <a mat-list-item (click)="selectEntry('start')" class="link-home"><i class="material-icons">home</i>Startseite</a>
      

      <h3>
        Meine Daten
      </h3>
      <a mat-list-item (click)="selectEntry('meine-daten')">Meine Daten bearbeiten</a>

      <h3>
        Einweisungen
      </h3>
      <a mat-list-item (click)="selectEntry('sicherheitsbelehrung')">Neue Sicherheitsbelehrung eintragen</a>
      <a mat-list-item (click)="selectEntry('einweisungen-einsehen')">Einweisungen abfragen</a>
      <a mat-list-item (click)="selectEntry('neue-einweisung')">Neue Einweisung eintragen</a>
      <div *ngIf="showTieredMenu">
        <a mat-list-item (click)="selectEntry('staffeleinweisung-bearbeiten')">
          Gestaffelte Einweisung verwalten
        </a>
      </div>
      <h3>
        RFID-Karten
      </h3>
      <a mat-list-item (click)="selectEntry('rfid-vergeben')">RFID-Karte vergeben</a>
      <a mat-list-item (click)="selectEntry('rfid-besitzer-finden')">RFID-Kartenbesitzer finden</a>
      <div *ngIf="showMemberMenu">
        <h3>
          Mitgliedsverwaltung
        </h3>
        <a mat-list-item (click)="selectEntry('neues-mitglied')">Neues Mitglied eintragen</a>
        <a mat-list-item (click)="selectEntry('mitglied-teil')">Neuen Mitgliedschaftsteilhaber eintragen</a>
        <a mat-list-item (click)="selectEntry('abrechnung-exportieren')">Abrechnung exportieren</a>
      </div>
      <h3>
        Überprüfen
      </h3>
      <a mat-list-item (click)="selectEntry('summary-page')">Änderungsliste</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()"
        id="menubutton"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        Menü
      </button>
      <span id="apptitle">{{this.title}}</span>
      <div id="logout_fields">
        <span
          id="timeout"
          *ngIf="appComponent.userInactive"
        >
          Automatische Abmeldung in {{appComponent.userTimeoutCounter}}s
        </span>
        <br
          style="display:block;margin-top:-10px"
          *ngIf="appComponent.userInactive"
        >
        <div id="logout_button">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </mat-toolbar>
    <mat-card appearance="outlined" class="page_container">
      <div *ngIf="entry!='start'">
        <login
          (validLogin)="valid=$event;updateMenuEntries()"
        ></login>
        <br>
        <div *ngIf="valid">
          <div *ngIf="entry=='sicherheitsbelehrung'">
            <sicherheitsbelehrung>
            </sicherheitsbelehrung>
          </div>
          <div *ngIf="entry=='einweisungen-einsehen'">
            <einweisungen-einsehen>
            </einweisungen-einsehen>
          </div>
          <div *ngIf="entry=='neue-einweisung'">
            <neue-einweisung>
            </neue-einweisung>
          </div>
          <div *ngIf="entry=='neues-mitglied'">
            <neues-mitglied>
            </neues-mitglied>
          </div>
          <div *ngIf="entry=='rfid-vergeben'">
            <rfid-vergeben>
            </rfid-vergeben>
          </div>
          <div *ngIf="entry=='rfid-besitzer-finden'">
            <rfid-besitzer-finden>
            </rfid-besitzer-finden>
          </div>
          <div *ngIf="entry=='summary-page'">
            <summary-page>
            </summary-page>
          </div>
          <div *ngIf="entry=='staffeleinweisung-bearbeiten'">
            <staffeleinweisung>
            </staffeleinweisung>
          </div>

          <div *ngIf="entry=='meine-daten'">
            <meine-daten>
            </meine-daten>
          </div>

          <div *ngIf="entry=='mitglied-teil'">
            <mitglied-teil>
            </mitglied-teil>
          </div>
          <div *ngIf="entry=='abrechnung-exportieren'">
            <abrechnung-exportieren>
            </abrechnung-exportieren>
          </div>
        </div>
      </div>
      <div *ngIf="entry=='start'">
        <start>
        </start>
      </div>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<review-banner>
</review-banner>
