#apptitle {
  font-size:26px;
}

#timeout {
  margin-left: inherit;
  text-align: right;
}

#logout_fields {
  font-size: 10px;
  text-align: right;
}

#logout_button {
  font-size: 18px;
  cursor:pointer;
}

.link-home {
  font-size: 18px;
  margin-top: 0px;
  padding-left: 4px !important;

  .material-icons {
    margin-right: 15px;
  }
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.mat-mdc-tab-header ::ng-deep {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  #apptitle {
    font-size: 18px;
    overflow:hidden;
  }
}

@media only screen and (max-width: 470px) {
  #menubutton {
    font-size: 0px !important;
  }

  #apptitle {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .sidenav {
    width: 100% !important;
  }
}


#menubutton {
  position: absolute;
  left:0px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
  padding-bottom: 33px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar span {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mat-toolbar img {
  float: right;
  margin-right: 20px;
}

.page_container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 70px;
}

.mat-nav-list .mat-mdc-list-item {
  padding-left: 40px;
}

.sidenav h3 {
  padding-left: 20px;
}

.mat-mdc-list-item {
  width: auto !important;
}
