<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
      >

    <!--[attr.role]="(isHandset$ ) ? 'navigation' : 'navigation'"
    [mode]="(isHandset$) ? 'over' : 'side'"-->
    <mat-nav-list>
      <h3>
        Einweisungen
      </h3>
      <a mat-list-item href="/sicherheitsbelehrung-eintragen">Neue Sicherheitsbelehrung eintragen</a>
      <a mat-list-item href="/eigene-einweisungen">Einweisungen abfragen</a>
      <a mat-list-item href="/einweisungen-eintragen">Neue Einweisung eintragen</a>

      <h3>
        Mitgliedsverwaltung
      </h3>
      <a mat-list-item href="/mitglied-eintragen">Neues Mitglied eintragen</a>
      <h3>
        RFID-Karten
      </h3>
      <a mat-list-item href="/rfid-eintragen">RFID-Karte vergeben</a>
      <a mat-list-item href="/rfid-pruefen">RFID-Kartenbesitzer finden</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()"
        id="menubutton"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        Menü
      </button>
      <span id="apptitle">{{this.appComponent.title}}</span>
    </mat-toolbar>
    <mat-card class="page_container">
      <router-outlet></router-outlet>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
